.country{
    background-color: rgba(234, 212, 182, 0.879);
    margin: 19px;
    padding: 8px;
    border-radius: 18px;
    border: 1px solid rgb(236, 167, 83);
    box-shadow: 8px 2px 10px gray;
}
img{
width: 150px;
}